# Project management
.vscode/
.editorconfig
.eslintrc.json
.jsbeautifyrc
.jshintrc
.markdownlint.json
jsconfig.json

# Composer
vendor/
library/vendor/
composer.lock
library/composer.lock

# Node.js
node_modules/

# Cordova
hooks/
platforms/
typings/

# Release directory
build/release/*.zip

# Test configuration
tests/config.php
Tests/config.php

# Version and manifest files
component/*.xml
file/*.xml
library/*.xml
modules/*/*/*.xml
package/*.xml
plugins/*/*/*.xml
template/*.xml

# Language files (symlinked)
component/**/*.ini
file/**/*.ini
library/**/*.ini
modules/**/*.ini
package/**/*.ini
plugins/**/*.ini
template/**/*.ini

# Ionic
.sourcemaps/
tslint.json
www/assets/*
www/build/*

# App for Joomla
component/media/app/
component/media/service/

# Symfony
var/
.env

# Symlinks
